body {
  margin: 0px;
}
body .main-page-container {
  margin: 0px;
}
body .main-page-container .header-container {
  background-color: white;
  height: 70px;
}
body .main-page-container .header-container .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 0px 150px;
}
body .main-page-container .header-container .header-content .left-nav-bar a {
  text-decoration: none;
  color: #6f6f6f;
  font-size: 18px;
}
body .main-page-container .header-container .header-content .right-nav-bar {
  display: flex;
  align-items: center;
  gap: 30px;
}
body .main-page-container .header-container .header-content .right-nav-bar a {
  text-decoration: none;
  color: #6f6f6f;
  font-size: 16px;
}
body .main-page-container .header-container .header-content .right-nav-bar button {
  width: 80px;
  height: 50px;
  border-radius: 40px;
  color: white;
  background-color: #e91e63;
  cursor: pointer;
}
body .main-page-container .title-box-container {
  width: 100vw;
  height: 300px;
}
body .main-page-container .title-box-container .title-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bd267d;
  height: 350px;
  position: absolute;
  z-index: -1;
  width: 100vw;
}
body .main-page-container .title-box-container .title-content h1 {
  font-size: 40px;
  margin: 0px;
}
body .main-page-container .main-body-container {
  margin: 0px 2.5% 0px 2.5%;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid grey;
}
body .main-page-container .main-body-container .space-container {
  margin: 100px 0px 0px 200px;
}
body .main-page-container .main-body-container .space-container .worth-a-thousand-words-container a {
  text-decoration: none;
  color: #89229b;
}
body .main-page-container .main-body-container .space-container .worth-a-thousand-words-container h2 a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
body .main-page-container .main-body-container .space-container .worth-a-thousand-words-container p {
  color: #646e7b;
}
body .main-page-container .main-body-container .space-container .worth-a-thousand-words-container p a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
body .main-page-container .main-body-container .space-container .elements-container {
  margin: 80px 0px 0px 0px;
}
body .main-page-container .main-body-container .space-container .elements-container a {
  text-decoration: none;
  color: #01bcd4;
}
body .main-page-container .main-body-container .space-container .elements-container h2 a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
body .main-page-container .main-body-container .space-container .elements-container p {
  color: #646e7b;
}
body .main-page-container .main-body-container .space-container .elements-container p a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
body .main-page-container .main-body-container .space-container .more-tags-container {
  margin: 80px 0px 0px 0px;
}
body .main-page-container .main-body-container .space-container .more-tags-container a {
  text-decoration: none;
  color: #f44335;
}
body .main-page-container .main-body-container .space-container .more-tags-container h2 a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
body .main-page-container .main-body-container .space-container .more-tags-container p {
  color: #646e7b;
}
body .main-page-container .main-body-container .space-container .more-tags-container p a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
body .main-page-container .main-body-container .space-container .html-container {
  margin: 80px 0px 0px 0px;
}
body .main-page-container .main-body-container .space-container .html-container a {
  text-decoration: none;
  color: #ff9801;
}
body .main-page-container .main-body-container .space-container .html-container h2 a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
body .main-page-container .main-body-container .space-container .html-container p {
  color: #646e7b;
}
body .main-page-container .main-body-container .space-container .html-container p a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
body .main-page-container .main-body-container .space-container .links-container {
  margin: 80px 0px 0px 0px;
}
body .main-page-container .main-body-container .space-container .links-container a {
  text-decoration: none;
  color: #e91e63;
}
body .main-page-container .main-body-container .space-container .links-container h2 a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
body .main-page-container .main-body-container .space-container .links-container p {
  color: #646e7b;
}
body .main-page-container .main-body-container .space-container .links-container p a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
body .main-page-container .main-body-container .space-container .category-hierarchy-container {
  margin: 80px 0px 0px 0px;
}
body .main-page-container .main-body-container .space-container .category-hierarchy-container a {
  text-decoration: none;
  color: #4caf50;
}
body .main-page-container .main-body-container .space-container .category-hierarchy-container h2 a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
body .main-page-container .main-body-container .space-container .category-hierarchy-container p {
  color: #646e7b;
}
body .main-page-container .main-body-container .space-container .category-hierarchy-container p a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
body .main-page-container .main-body-container .space-container .hello-world-container {
  margin: 80px 0px 100px 0px;
}
body .main-page-container .main-body-container .space-container .hello-world-container a {
  text-decoration: none;
  color: #89229b;
}
body .main-page-container .main-body-container .space-container .hello-world-container h2 a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
body .main-page-container .main-body-container .space-container .hello-world-container p {
  color: #646e7b;
}
body .main-page-container .main-body-container .space-container .hello-world-container p a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
body .main-page-container .footer-container {
  background-color: #323437;
  height: 100px;
}
body .main-page-container .footer-container .footer-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .main-page-container .footer-container .footer-content .footer-left {
  display: flex;
  margin: 150px;
  gap: 40px;
}
body .main-page-container .footer-container .footer-content .footer-left a {
  text-decoration: none;
  color: white;
}
body .main-page-container .footer-container .footer-content .footer-right {
  display: flex;
  margin: 150px;
  gap: 40px;
}
body .main-page-container .footer-container .footer-content .footer-right p {
  color: white;
}
body .main-page-container .footer-container .footer-content .footer-right p a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=blog-styles.css.map */